.credit_card {
  background: rgb(43, 69, 206);
  background: -moz-linear-gradient(
    241deg,
    rgba(43, 69, 206, 1) 7.000000000000001%,
    rgba(45, 39, 100, 1) 77%
  );
  background: -webkit-linear-gradient(
    241deg,
    rgba(43, 69, 206, 1) 7.000000000000001%,
    rgba(45, 39, 100, 1) 77%
  );
  background: linear-gradient(
    241deg,
    rgba(43, 69, 206, 1) 7.000000000000001%,
    rgba(45, 39, 100, 1) 77%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2b45ce",endColorstr="#2d2764",GradientType=1);
  color: white;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 1.2rem;
}
.card_chip {
  width: 20%;
}
.card_type {
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
.card_number {
  margin-top: 0.6rem;
}
.card_number span {
  padding-right: 1rem;
}
.credit_card div {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  padding-top: 0.7rem;
  align-items: center;
}

@media screen and (min-width: 375px) {
  .credit_card {
    width: 22rem;
    margin: 0 auto;
    margin-top: 1rem;
    height: 13rem;
  }
}
